<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      {{project.name}}
      <small>
        project
      </small>
      <small class="pull-right">
        <a target="_blank" ng-href="https://{{project.url}}" title="Repository on {{project.providerName}}"><i
            class="fa fa-{{project.providerName}}"></i></a>
      </small>
    </h1>
  </div>
</div>

<style>
  .rickshaw_graph .detail .x_label { display: none }
  .rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
  .detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
  .rickshaw_graph .detail .date { color: #a0a0a0 }
</style>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <tabset>
          <tab heading="Status">
            <br>
            <!-- <rickshaw
                rickshaw-options="options2"
                rickshaw-features="features2"
                rickshaw-series="series2">
            </rickshaw> -->
          </tab>
          <tab heading="Last Build" disabled="buildTabDisabled">
            <br>
            <textarea scroll-glue style="background-color: #131722" class="form-control bg-color-green" rows=20
                      ng-model="currentBuild" placeholder="No build running"></textarea>
          </tab>
          <tab heading="Test History" select="tabTestHistory()" disabled="testsTabDisabled">
            <br>
            <table datatable="ng" class="row-border hover">
              <thead>
              <tr>
                <th>Test Id</th>
                <th>Commit</th>
                <th>Branch</th>
                <th>PR Id</th>
                <th>Date</th>
                <th>Duration</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="test in tests"> <!-- change to ::tests on Angular 1.3 -->
                <td>{{test.id}}</td>
                <td><a target="_blank" ng-href="https://{{project.url}}/commits/{{test.commit}}">{{test.commit}} <i
                    class="fa fa-external-link"></i></a></td>
                <td><a target="_blank" ng-href="https://{{project.url}}/branch/{{test.branch}}">{{test.branch}} <i
                    class="fa fa-external-link"></i></a></td>
                <td><a target="_blank" ng-href="https://{{project.url}}/pull-requests/{{test.prId}}">{{test.prId}} <i
                    class="fa fa-external-link"></i></a></td>
                <td><span am-time-ago="test.startDate" title="{{test.startDate | date: 'medium'}}"></span></td>
                <td title="{{durationDiff(test.startDate, test.endDate) | amDurationFormat : 'milliseconds' }}">
                  {{test.endDate | amDifference : test.startDate : 'milliseconds' }} milliseconds
                </td>
              </tr>
              </tbody>
            </table>
            <br>
            <h4>History of the total duration of the tests</h4>
            <br>
            <rickshaw
                rickshaw-options="testsOptions"
                rickshaw-features="testsFeatures"
                rickshaw-series="testsSeries">
            </rickshaw>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
